html, body, *, #content, #qa {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

.hidden {
    display: none;
}

.flex {
    flex: 1 1;
}
