.cover .header {
    background-image: linear-gradient(to bottom, transparent 0%, hsla(199, 100%, 10%, .6) 24px, hsla(199, 100%, 10%, .95) 100%);
    color: white;
}

input::-webkit-input-placeholder {
    color: var(--theme-placeholder);
}

/* material design typography */

body {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--theme-foreground1);
}

.md-headline6 {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  text-decoration: inherit;
  text-transform: inherit; }

.md-body1 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit; }

.md-body2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.01786em;
  text-decoration: inherit;
  text-transform: inherit; }

.md-caption {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.03333em;
  text-decoration: inherit;
  text-transform: inherit; }

:root {
    --theme-primary: hsl(199, 100%, 50%);
    --theme-primary-dark: hsl(199, 100%, 20%);
    --theme-secondary: hsl(36, 100%, 50%);

    --theme-correct: hsl(120, 80%, 80%);
    --theme-correct-dark: hsl(120, 50%, 50%);
    --theme-missed: hsl(50, 100%, 80%);
    --theme-missed-dark: hsl(50, 50%, 50%);

    --theme-background0: hsl(199, 100%, 95%);
    --theme-background1: hsl(0, 0%, 98%);
    --theme-foreground1: rgba(0, 0, 0, .87);
    --theme-foreground2: rgba(0, 0, 0, .54);
    --theme-divider: hsla(199, 100%, 20%, .12);
    --theme-disabled: hsla(199, 100%, 20%, .26);
    --theme-placeholder: hsla(199, 100%, 20%, .38);

    --state-hover: .04;
    --state-selected: .08;
    --state-focus: .12;
    --state-activated: .12;

    --theme-fieldbox: rgba(0, 0, 0, .05);
    --theme-fieldbox-hover: rgba(0, 0, 0, .09);
    --theme-hover: rgba(0, 0, 0, var(--state-hover));
    --theme-selected: rgba(0, 0, 0, var(--state-selected));
    --theme-focus: rgba(0, 0, 0, var(--state-focus));
    --theme-active: rgba(0,0,0, var(--state-activated));

    --md-shadow-z1: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    --md-shadow-z2: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    --md-shadow-z8: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
